absl-py
asttokens
astunparse
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
executing
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
numpy
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
requests
rich
scikit-learn
scipy
setuptools
six
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
wrapt
